.modal {
  position: fixed;
  top: 0px;
  z-index: 100000;
  height: 100%;
  width: 30%;
  background-color: rgba(27, 27, 27, 0.95);
  color: white;
  padding: 0px 1rem;
}

.titleWrap {
  margin-top: 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ffffff70;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
}

.closeBtn {
  background-color: inherit;
  color: white;
  border: 0px;
  cursor: pointer;
}

/*SettingInput*/

.settingInput {
  margin: 20px 0px;
}

.inputTitle {
  font-size: 14px;
  margin: 0px;
  margin-bottom: 8px;
}

.form {
  background-color: #c0c0c0;
  height: 38px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input {
  /*reset*/
  outline: none;
  height: inherit;
  width: 80%;
  background-color: inherit;
  border: 0px;
  font-size: 18px;
}

.submit {
  font-weight: bold;
  background-color: inherit;
  color: black;
  border: 0px;
}

.input:focus {
  border: 0px;
}
