.features {
  display: flex;
  align-items: center;
  padding: 10rem 15rem;
  width: 100%;
  object-fit: cover;
}

.featureSvg {
  height: 270px;
  width: 270px;
}

.featureSvg:hover {
  cursor: pointer;
}

.img {
  width: 270px;
}

.absoluteBtn {
  position: absolute;
  right: 20px;
  top: 80%;
}
.absoluteBasicBtn {
  position: absolute;
}

.editBtn {
  border: none;
  cursor: pointer;
  background: blue;
  color: white;
  position: relative;
  border: 0px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  font-weight: bold;
  box-shadow: 3px 3px 8px #00000021;
}

.absolute {
  position: absolute;
  right: 0px;
  display: flex;
  justify-content: center;
}

.textCenter {
  font-weight: 900;
  font-size: 36px;
  line-height: 30px;
}
.linkFeatureItemTitle {
  margin: 0;
  font-size: 36px;
  font-weight: 900;
  line-height: 1.5;
}
.linkFeatureItemTitleDiv {
  top: 50%;
  left: 50%;
  width: 80%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.addBtn {
  box-shadow: 5px 3px 10px #00000070;
  border: 0px;
  background-color: blue;
  z-index: 1000;
  position: relative;
  bottom: 50px;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border: none;
  color: rgb(99, 99, 99);
  border-radius: 50%;
  font-weight: bold;
  font-size: 18px;
}

.addBtn:hover {
  cursor: pointer;
}

.basicTitle {
  font-size: 36px;
  font-weight: 900;
}

.basicText {
  font-size: 24px;
  width: 40%;
  margin: auto;
  margin-bottom: 50px;
}
