.modal {
  position: fixed;
  top: 0px;
  z-index: 100000;
  height: 100%;
  width: 350px;
  background-color: rgba(27, 27, 27, 0.95);
  color: white;
  padding: 0px 1rem 30px 1rem;
  overflow-y: auto;
}

.titleWrap {
  margin-top: 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ffffff70;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
}

.closeBtn {
  background-color: inherit;
  color: white;
  border: 0px;
  cursor: pointer;
}
